body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4a261;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}

#logo {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

#logo > img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes myAnim {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

.logo_center {    
    margin: 25vh 40vw;
}

.logo_topLeft {
    margin: 5vh;
}

#btnPlay {
    background-color: transparent;
    width: 20vw;
    height: 10vh;
    margin: 10vh 40vw;
    cursor: pointer;
}

.aside {
    display: flex;
}

.container {
    display: flex;
    grid-template-columns: 15% 15% 15% 15% 15%;
    flex-wrap: wrap;
    max-width: 46.5vw;
    background-color: #6E5AE6;
    padding: 20px;
    margin: 8vh 2vw;
}

.hints {
    display: block;
    width: 25vw;
    height: 40vh;
    background-color: #a8a2a2a6;    
    margin: 30vh 10vw;
}

.category {
    width: 15vw;
    height: 5vh;
    background-color: #D9D9D973;
    text-align: center;
    margin: 35px auto;
    line-height: 2.5;
    font-family: sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}