body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4a261;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}

#logo {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

#logo > img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes myAnim {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

.logo_center {    
    margin: 25vh 40vw;
}

.logo_topLeft {
    margin: 5vh;
}

#btnPlay {
    background-color: transparent;
    width: 20vw;
    height: 10vh;
    margin: 10vh 40vw;
    cursor: pointer;
}

.background_container {
    display: block;
    width: 50vw;
    height: 80vh;
    background-color: purple;
    margin: 10vw 10vh;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    justify-items: center;
    align-items: center;
}